@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navBar{
  background: rgb(169,178,226);
  background: radial-gradient(circle, rgba(169,178,226,1) 46%, rgba(235,144,179,1) 88%, rgba(204,137,151,1) 100%);
  height: 75px;
  font-size: 20px;
}

.header-button{
  display: flex;
  font-family: cursive;
  padding: 20px;
  color: rgb(117, 40, 104);
  justify-content: center;
  align-items: center;
  gap:40px;
  
}
/* /* .flex {
  display: flex;
  justify-content: space-between;
} */
.container{
  display: flex;
  gap: 93px;
} 

.parentContainer {
  width: 100%;
  height: auto;
  /* overflow: scroll; */
  background-color: rgb(204, 204, 248);
  display: flex;
  justify-content: center;
  padding: 30px;
  flex-wrap: wrap;
  /* align-items: center; */
}

.childContainer {
  width: 335px;
  height: 360px;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  transition-duration: 0.5s;
  border: 3px solid white;
}

.childContainer:hover {
  border: 3px solid rgb(212, 132, 212);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.imageContainer {
  width: 100%;
  height: 150px;
  background-color: rgb(187, 110, 187);
  border-radius: 10px;
  box-shadow: rgba(204, 78, 156, 0.2) 0px 2px 8px 0px;
}

.title {
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.description {
  font-size: 13px;
  margin-top: 3px;
}

.readMore {
  width: 40%;
  margin-top: 10px;
  background-color: white;
  border: 1px solid rgb(165, 30, 147);
  font-size: 13px;
  color: rgb(226, 96, 220);
  border-radius: 10px;
  padding: 5px;
  transition-duration: 0.5s;
}

.readMore:hover {
  border: 1px solid rgb(209, 159, 255);
  color: rgb(209, 159, 255);
}

